@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f7ff;
}
.ver-elips-icon:hover {
  background: #cfb9eb6e;
  transition: all 1s;
}
.banner-img-ani {
  animation-name: ban-img;
}
.banner-img:hover {
  transform: scale(1.2);
  transition: all 1.3s ease-in-out;
}
.quest-box {
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 80%;
  padding:1rem;
  word-wrap: wrap;
  font-size: 20px;
  color:#FFDAD6;
  font-weight: bold;
}
.fade{
    animation:fade-out-right 1s ease-in-out reverse;
}


.dash-ans{
  background: rgba( 255, 255, 255, 0.10 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.modal-class{
  top:20%;
  background-color:rebeccapurple ;
}







@keyframes fade-out-right {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.95);
    }
}